.kart-container {
  display: grid;
  place-content: center;
  min-height: 70vh;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  padding: 1em 0;
}

.kart-container h3 {
  font-weight: 600;
}

.btn-invisible {
  display: none;
}

@media screen and (max-width: 768px) {
  .kart-container {
    font-size: 1em;
    min-height: 60vh;
  }
}
